
.adoptBox{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e4cc;
    padding: 18px;
}

li{
    list-style-type: none;
}

.randomImgs{
    width: 40vw;
    height: 50%;
    box-shadow: 0 0 10px #0000001a;
}

.adoptItems{
    width: 50%;
    height: 60%;
    background-color: #a7dbd8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px #0000001a;
    text-align: center;
    padding: 18px;
}

.adoptItems h2{
    font-size: 4rem;
    color: #fa6900;
}

.adoptItems h3{
    font-size: 2rem;
    color: #ffffff;
    
}

.adoptItems h2, h3{
    text-shadow: 1px 1px #000000;
    font-family: Arial, Helvetica, sans-serif;
}


.adoptItems button{
    top: 0;
    font-size: 2rem;
    padding: 36px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #fa6900;
    box-shadow: 0 0 5px #000000;
}


@media screen and (min-width: 1024px){

    .adoptItems{
        width: 40%;
        height: 85vh;
    }

    .adoptItems h2{
        font-size: 2rem;
    }
    
    .adoptItems h3{
        font-size: 1rem;
    }

    .adoptItems button{
        padding: 18px;
        font-size: small;
    }

}
