
.adoptBox{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e0e4cc;
    padding: 18px;
    
}

li{
    list-style-type: none;
}

.randomImgs{
    width: 30vw;
    height: 40vh;
    box-shadow: 0 0 10px #0000001a;
}

.adoptItems{
    width: 30%;
    height: 80vh;
    background-color: #a7dbd8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px #0000001a;
    text-align: center;
    padding: 18px;
}

.adoptItems h2{
    font-size: 2rem;
    color: #fa6900;
}

.adoptItems h3{
    font-size: 1.3rem;
    color: #ffffff;
    
}

.adoptItems h2, h3{
    text-shadow: 1px 1px #000000;
    font-family: Arial, Helvetica, sans-serif;
}


.adoptItems button{
    padding: 18px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #fa6900;
    box-shadow: 0 0 5px #000000;
}

.adoptItems button:hover{
    padding: 20px;
    cursor: pointer;
    transition: ease 0.3s;
}
