
  :root{
    --primary: #69d2e7;
  }

  .Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: var(--primary);
    box-shadow: 0 0 1px #000000;
    width: 100%;
  }

  .Header h1{
    font-family: 'Barlow', sans-serif;
    display: flex;
    align-items: center;
  }

  .faPaw{
    margin-left: 5px;
  }

  .Header ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
  }

  .Header li{
    margin-left: 18px;
    cursor: pointer;
  }

  .faUser{
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-left: 18px;
  }