/* background-color: #e0e4cc;
font-family: Arial, Helvetica, sans-serif; */

.home{
    width: 100%;
    height: 92vh;
    background-color: #e0e4cc;
}

.sectOne{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 92vh;
}

.blackDog{
    max-width: clamp(300px, 40vw, 500px);
    padding: 18px 18px 0 18px;
}

.sectText{
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
}

.sectText h1{
    text-align: center;
    font-size: clamp(32px, 8vw, 40px);
    color: #fa6900;
    text-shadow: 0 2px #000000a1;
}

.sectText p{
    font-size: clamp(18px, 5vw, 22px);
    text-shadow: 0 1px #000000a1;
    color: #4b4b4b;
    text-align: center;
}

@media (min-width: 1024px){

    .sectOne{
        flex-direction: row;
    }

    .sectText p{
        text-align: start;
    }

    .blackDog{
        max-height: 50%;
    }
}


