.verifSect{
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verifSect h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(32px, 5vw, 42px);
    color: #fa6900;
    text-shadow: 0 1px 1px #000000
}
